/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 99.2rem;
    margin: auto;
    width: 100%;
}

/* HEADER */

header {
    background-color: #122A57;
    height: 10rem;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

header .menu {
    justify-content: space-between;
}

header .list-items {
    display: flex;
    width: 100%;
    max-width: 26rem;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: white;
    font-size: 1.5rem;
}

/* SEÇÃO APRESENTAÇÃO */

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 20rem;
}

.texto-apresentacao h1 {
    color: #122A57;
    font-size: 4.8rem;
    margin-bottom: 1rem;
}

.texto-apresentacao p {
    font-size: 1.3rem;
}

.btn {
    background-color: #122A57;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    width: 20rem;
    height: 5rem;
    border-radius: 3rem;
    line-height: 5rem;
    margin: 1rem 0;
}

/* SEÇÃO QUEM SOMOS */

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

#quem-somos h2 {
    font-size: 3.2rem;
    color: #122A57;
    display: flex;
    margin-bottom: 2rem;
}

#quem-somos h2::before {
    content: '';
    height: 5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
    background-color: #122A57;
    position: relative;
}

#quem-somos p {
    font-size: 1.3rem;
    width: 90%;
    margin-bottom: 1rem;
}

#quem-somos img {
    width: 42rem;
}

/* SEÇÃO SERVIÇOS */

.container-externo {
    background-color: #122A57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding: 5rem 0 10rem 0;
}

#servicos h2 {
    color:white;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.list-servicos .item-servico {
    text-align: center;
}

.item-servico img {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.item-servico p {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.item-servico a {
    width: 2.2rem;
    height: 5rem;
    line-height: 5rem;
    background-color: white;
    color: #122A57;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
}

/* SEÇÃO PLANOS */

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding: 5rem 0 10rem 0;
}

#planos h2 {
    font-size: 3.2rem;
}

.list-planos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.item-plano {
    flex: 1;
    border: 0.4rem solid #122A57;
    margin-right: 2rem;
    max-width: 24rem;
}

.item-plano h3 {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.item-plano h3::after {
    content: '';
    background-color: #122A57;
    width: 90%;
    height: 0.2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.item-plano ul {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.item-plano ul li::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #122A57;
    margin-right: 0.5rem;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 2rem;
}